.Card{
    box-shadow: 0px 0px 20px black;
    position: absolute;
    width: 400px;
    min-height: 100px;
    background: #FFFFFF;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    padding: 32px;
}